//media
$wordleLogo: url("../images/wordle-icon.svg");

//colors
$gray: #3a3a3c;
$green: #538d4e;
$yellow: #b59f3b;

//functions
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin adjustForm($screenWidth) {
    $newWidth: calc((900 - $screenWidth) / 20);
    .auth-form {
        width: 55vw + $newWidth;
    }
}