@import "_variables";

.auth {
    width: fit-content;
    margin: 20vh auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    & h1 {
        margin-bottom: 15px;
        text-align: center;
    }

    &-form {
        width: 40vw;
        display: flex;
        flex-direction: column;
        padding: 10px 30px;

        & input {
            outline: none;
            padding: 10px;
            margin-bottom: 15px;
            background-color: $gray;
            border: 1px solid gray;
            border-radius: 5px;
            color: white;
        }

        & label {
            margin-bottom: 5px;
        }
    }

    &-button {
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        background-color: #6aaa64;
        color: white;
    }
}

.bottom-text {
    margin-top: 20px;
    text-align: center;

    & a {
        text-decoration: none;
        color: $green;
        font-weight: bold;
    }
}

@media screen and (max-width: 900px) {
    @include adjustForm(900);
}

@media screen and (max-width: 700px) {
    @include adjustForm(700);
}

@media screen and (max-width: 500px) {
    @include adjustForm(500);
}

@media screen and (max-width: 400px) {
    .auth h1, .bottom-text {
        max-width: 70vw;
    }
}

@media screen and (max-width: 300px) {
    @include adjustForm(300);
}